<header class="desktop">
  <mat-toolbar class="toolbar">
    <h1 routerLink="/" class="fill-remaining-space">ToitEnVue</h1>
    <span class="fill-remaining-space"></span>

    <nav class="align-items">
      <ul class="display-flex">
        <li class="flex-center">
          <mat-icon>search</mat-icon>
          <span class="link"><a routerLink="housings">Rechercher</a></span>
        </li>

        <li class="flex-center">
          <mat-icon>add</mat-icon>
          <span class="link"><a routerLink="create">Listez</a></span>
        </li>
      </ul>

      @if (!isLoggedIn) {
        <mat-icon>account_circle</mat-icon>
        <span
          mat-icon-button
          [matMenuTriggerFor]="desktopMenu"
          #menuTrigger="matMenuTrigger"
        >
          <span>Profil</span>
        </span>
        <mat-menu #desktopMenu="matMenu" [overlapTrigger]="false">
          <button routerLink="register" mat-menu-item>
            <span>Inscription</span>
          </button>
          <button routerLink="login" mat-menu-item>
            <span>Connexion</span>
          </button>
        </mat-menu>
      } @else {
        <span
          class="user"
          mat-icon-button
          [matMenuTriggerFor]="deconnexion"
          #menuTrigger="matMenuTrigger"
        >
          <div class="align-items">
            <mat-icon>account_circle</mat-icon>
            <span>{{ username }}</span>
          </div>
        </span>
        <mat-menu #deconnexion="matMenu" [overlapTrigger]="false">
          <button routerLink="profil" mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>Mon profil</span>
          </button>
          <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span routerLink="/my-ads">Mes annonces</span>
          </button>
          <button mat-menu-item>
            <mat-icon> vpn_key</mat-icon>
            <span routerLink="/my-bookings">Mes réservations</span>
          </button>
          <button (click)="logout()" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Déconnexion</span>
          </button>
        </mat-menu>
      }
    </nav>
  </mat-toolbar>
  <mat-divider></mat-divider>
</header>

<header class="mobile">
  <div class="display-flex align-items">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      #menuTrigger="matMenuTrigger"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      @if (!isLoggedIn) {
        <button routerLink="/login" mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Connexion</span>
        </button>
      } @else {
        <button routerLink="profil" mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Mon profil</span>
        </button>
        <button routerLink="/create" mat-menu-item>
          <mat-icon>add</mat-icon>
          <span>Listez votre propriété</span>
        </button>

        <button routerLink="/my-ads" mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Mes annonces</span>
        </button>
        <button mat-menu-item>
          <mat-icon> vpn_key</mat-icon>
          <span routerLink="/my-bookings">Mes réservations</span>
        </button>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Déconnexion</span>
        </button>
      }
    </mat-menu>
    <h1 routerLink="/" class="fill-remaining-space">ToitEnVue</h1>
  </div>
</header>
