<div class="wrapper-container">
  <div class="card-container">
    <form [formGroup]="housingForm" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <p class="register">Création de logement</p>
        <label for="title">Titre</label>
        <input type="text" formControlName="title" />
        <label for="address">Adresse</label>
        <input type="text" formControlName="address" />
        <label for="city">Ville</label>
        <input type="text" formControlName="city" />
        <label for="zipcode">Code postal</label>
        <input type="number" formControlName="zipcode" />
        <label for="description">Description</label>
        <textarea formControlName="description"></textarea>
        <label for="price">Prix</label>
        <input type="number" formControlName="price" />
        <label for="category">Catégorie</label>
        <select formControlName="category">
          <option value="appartement">Appartement</option>
          <option value="maison">Maison</option>
          <option value="studio">Studio</option>
        </select>
        <label for="rooms">Nombre de pièces</label>
        <input type="number" formControlName="rooms" />
        <label for="bedrooms">Nombre de chambres</label>
        <input type="number" formControlName="bedrooms" />
        <label for="bathrooms">Nombre de salles de bain</label>
        <input type="number" formControlName="bathrooms" />
        <label for="furnished">Meublé</label>
        <input type="checkbox" formControlName="furnished" />
        <label for="living_space">Surface habitable</label>
        <input type="number" formControlName="living_space" />
        <label for="highlights">Points forts</label>
        <input type="text" formControlName="highlights" />
        <label for="year_of_construction">Année de construction</label>
        <input type="number" formControlName="year_of_construction" />
        <label for="housingCondition">État du logement</label>
        <select formControlName="housingCondition">
          <option value="good_condition">Bon état</option>
          <option value="average_condition">État moyen</option>
          <option value="poor_condition">Mauvais état</option>
        </select>
      </div>
      <div class="input-container margin">
        <label for="fileInput">Joindre des images</label>
        <input
          type="file"
          id="file"
          (change)="onFileChanged($event)"
          accept=".jpg, .jpeg, .png"
          required
          multiple="multiple"
        />
      </div>
      <button type="submit" mat-flat-button color="primary">Créer</button>
    </form>
  </div>
</div>
