<article>
  <h5>Politique de confidentialité</h5>
  <img
    src="assets/img/privacy-policy/privacy-policy.jpg"
    alt="Photo page politique de confidentialité"
  />

  <p>
    La présente politique de confidentialité décrit comment
    <b>&copy; ToitEnVue</b> recueille, utilise et protège les informations que
    vous nous fournissez lorsque vous utilisez ce site web ou cette application.
  </p>

  <p>
    Nous attachons une grande importance à la protection de votre vie privée. Si
    nous vous demandons de fournir certaines informations permettant de vous
    identifier lors de l'utilisation de ce site web ou de cette application,
    soyez assuré qu'elles ne seront utilisées que conformément à la présente
    déclaration de confidentialité.
  </p>

  <p>
    Nous nous réservons le droit de mettre à jour ou de modifier cette politique
    de confidentialité à tout moment et sans préavis. Nous vous recommandons de
    consulter régulièrement cette page pour vous assurer que vous êtes satisfait
    des éventuelles modifications.
  </p>

  <h6>Collecte des informations</h6>

  <p>Nous pouvons recueillir les informations suivantes :</p>

  <ul>
    <li>Nom et prénom</li>
    <li>Adresse électronique</li>
    <li>
      Informations démographiques telles que le code postal, les préférences et
      les intérêts
    </li>
  </ul>

  <h6>Utilisation des informations collectées</h6>

  <p>
    Nous avons besoin de ces informations pour comprendre vos besoins et vous
    fournir un meilleur service, et en particulier pour les raisons suivantes :
  </p>

  <ul>
    <li>Tenue de dossiers internes.</li>
    <li>Amélioration de nos produits et services.</li>

    <li>
      Personnalisation du site web ou de l'application en fonction de vos
      intérêts.
    </li>
  </ul>

  <h6>Sécurité</h6>

  <p>
    Nous nous engageons à assurer la sécurité de vos informations. Afin de
    prévenir tout accès non autorisé ou divulgation, nous avons mis en place des
    procédures physiques, électroniques et de gestion appropriées pour protéger
    et sécuriser les informations que nous recueillons en ligne.
  </p>

  <h6>Contrôle de vos informations personnelles</h6>

  <p>
    Nous ne vendrons, distribuerons ni ne louerons vos informations personnelles
    à des tiers sans votre autorisation, sauf si nous sommes tenus par la loi de
    le faire.
  </p>

  <p>
    Si vous pensez que les informations que nous détenons sur vous sont
    incorrectes ou incomplètes, veuillez nous écrire ou nous envoyer un e-mail
    dès que possible, à l'adresse ci-dessous. Nous corrigerons rapidement toute
    information jugée incorrecte.
  </p>
  <a href="mailto:thomasheroguelle93&#64;yahoo.com">
    thomasheroguelle93&#64;yahoo.com
  </a>
</article>
