<div class="container" *ngIf="userHousesList.length > 0; else noHouseFound">
  <h4>Liste des logements</h4>
  <div *ngFor="let house of userHousesList">
    <app-user-housing-card
      [userHouses]="house"
      (houseDeleted)="onHouseDeleted()"
    ></app-user-housing-card>
  </div>
</div>

<ng-template #noHouseFound>
  <div class="flex-column notfound">
    <img
      class="img-not-found"
      src="assets/img/no-housing/no-housing.jpg"
      alt="image non trouvée"
    />
    <div class="overlay-text">
      <p>
        Oh là là, il semble que vous n'ayez pas encore publié de logement...
      </p>
      <p>N'attendez plus pour créer votre première annonce :</p>

      <button
        routerLink="/create"
        color="primary"
        mat-flat-button
        class="medium-btn"
      >
        Créer une annonce
      </button>
    </div>
  </div>
</ng-template>
