<div class="container" *ngIf="housesList.length > 0; else noHouseFound">
  <h4>Liste des logements</h4>
  <article *ngFor="let house of housesList" class="house-article">
    <div class="image-container">
      <img
        [src]="'http://localhost:8091/api/v1/files/' + house.files[0].file_name"
        alt="logement"
        class="product-image"
      />
    </div>
    <div class="house-details">
      <h3>{{ house.title }}</h3>

      <p class="product-address">{{ house.city }}, {{ house.zipcode }}</p>

      <p>{{ house.price }} € / jours</p>
      <p class="dates">Dates de réservation:</p>
      <ul *ngIf="house.bookingDate.length > 0; else noBooking">
        <li *ngFor="let booking of house.bookingDate">
          Du <b> {{ booking.beginningDate }} </b> au
          <b> {{ booking.endDate }} </b>
        </li>
      </ul>

      <button
        class="medium-btn"
        color="warn"
        mat-flat-button
        (click)="deleteHousing(house.housing_id)"
      >
        Supprimer l'annonce
      </button>

      <ng-template #noBooking>
        <p>Pas encore de réservation</p>
      </ng-template>
    </div>
  </article>
</div>

<ng-template #noHouseFound>
  <div class="flex-column notfound">
    <img
      class="img-not-found"
      src="assets/img/no-housing/no-housing.jpg"
      alt="image non trouvée"
    />
    <div class="overlay-text">
      <p>
        Oh là là, il semble que vous n'ayez pas encore publié de logement...
      </p>
      <p>N'attendez plus pour créer votre première annonce :</p>

      <button
        routerLink="/create"
        color="primary"
        mat-flat-button
        class="medium-btn"
      >
        Créer une annonce
      </button>
    </div>
  </div>
</ng-template>
