/* GENERAL  */
.login {
  text-align: center;
}
.register-link {
  font-size: 14px;
}
a {
  color: var(--blue-color);
  text-decoration: underline;
}
/* CONTAINERS  */
.wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  width: 100%;
  max-width: 50%;
}

form {
  width: 100%;
  padding: 30px;
}

label {
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-input);
  border-radius: 8px;
  box-sizing: border-box;
}

.redirect-login {
  text-align: center;
  margin: 15px 0;
}

.alert,
.invalid-feedback,
.is-invalid {
  color: var(--error-handling);
}

.btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 1350px) {
  .card-container {
    width: 100%;
    max-width: 90%;
  }
  form {
    padding: 0;
  }
  .wrapper-container {
    display: flex;
    align-items: flex-start;
  }
}
