<article>
  <h5>Conditions générales d'utilisation</h5>
  <img
    src="assets/img/terms-of-use/terms-of-use.jpg"
    alt="Photo page Conditions générales d'utilisation"
  />

  <p>
    Les présentes conditions générales régissent votre utilisation de ce site
    web. En utilisant ce site web, vous acceptez ces conditions générales dans
    leur intégralité. Si vous n'acceptez pas ces conditions générales ou une
    partie de celles-ci, vous ne devez pas utiliser ce site web.
  </p>

  <h6>Licence d'utilisation du site web</h6>

  <p>
    Sauf indication contraire, <b>&copy; ToitEnVue</b> et/ou ses concédants de
    licence détiennent les droits de propriété intellectuelle sur le site web et
    le matériel qui y est publié. Sous réserve de la licence ci-dessous, tous
    ces droits de propriété intellectuelle sont réservés.
  </p>

  <p>
    Vous pouvez consulter, télécharger à des fins de mise en cache uniquement,
    et imprimer des pages à partir du site web pour votre propre usage
    personnel, sous réserve des restrictions énoncées ci-dessous et ailleurs
    dans ces conditions générales.
  </p>

  <p>Vous ne devez pas :</p>

  <ul>
    <li>Republier du contenu à partir de ce site web dans un autre média;</li>
    <li>Vendre, louer ou sous-licencier du contenu à partir du site web;</li>
    <li>
      Reproduire, dupliquer, copier ou exploiter de toute autre manière à des
      fins commerciales tout contenu de ce site web;
    </li>
    <li>
      Modifier ou modifier de quelque manière que ce soit tout contenu sur le
      site web; ou
    </li>
    <li>
      Redistribuer le contenu à partir de ce site web, sauf pour le contenu
      spécifiquement et expressément disponible pour la redistribution.
    </li>
  </ul>

  <h6>Acceptation de ces conditions générales</h6>

  <p>
    Vous reconnaissez que vous avez lu cet accord et que vous en acceptez tous
    les termes et conditions. En utilisant ce site web, vous acceptez d'être lié
    par cette version de l'accord.
  </p>

  <h6>Modification de ces conditions générales</h6>

  <p>
    <b>&copy; ToitEnVue</b> peut réviser ces conditions générales à tout moment
    et sans préavis. En utilisant ce site web, vous acceptez d'être lié par la
    version actuelle de ces conditions générales.
  </p>

  <h6>Législation applicable et juridiction</h6>

  <p>
    Ces conditions générales sont régies et interprétées conformément aux lois
    du [votre pays], et vous vous soumettez irrévocablement à la juridiction
    exclusive des tribunaux dans cet État ou ce lieu.
  </p>

  <p>
    Si vous avez des questions concernant ces conditions générales, vous pouvez
    nous contacter à :
  </p>
  <a href="mailto:thomasheroguelle93&#64;yahoo.com">
    thomasheroguelle93&#64;yahoo.com
  </a>
</article>
