/* GENERAL  */
p {
  font-size: 16px;
}

h4 {
  margin-left: 2vw;
}

.product-address {
  color: var(--label-color);
  margin-bottom: 5px;
}

.container {
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
  padding: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-holder {
  position: relative;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

.card-img-holder img {
  width: 300px;
  height: 100%;
  border-radius: 5px;
}
